In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("all_data.csv")

In [3]:
#get all a-50 stock code from 2016.1.4 to 2023.8.31
codes = data.columns[8:]

In [4]:
security_info = pd.DataFrame({"security_code":codes})
security_info.head()

  security_code
0     000001.SZ
1     000002.SZ
2     000063.SZ
3     000166.SZ
4     000333.SZ

In [5]:
#get securityNameEn, sector, industry
#ic = industryClassification
ic = pd.read_excel("industryClassification.xlsx")

E:\software\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
merged_df = (security_info
             .merge(ic, 
                    left_on=security_info["security_code"].str.split(".").str[0],
                    right_on=ic["securityCode"],
                    how="left")
            )

In [7]:
security_info1 = (merged_df[["security_code", "securityNameEn", "cics1stNameEn", "cics2ndNameEn"]]
                  .copy()
                 )
security_info1.rename(columns={"cics1stNameEn":"sector", "cics2ndNameEn":"industry"}, inplace = True)
security_info1

,security_code,securityNameEn,sector,industry
0,000001.SZ,"Ping An Bank Co., Ltd.",Financials,Banks
1,000002.SZ,China Vanke Co Ltd,Real Estate,Real Estate
2,000063.SZ,ZTE Corporation,Communication Services,Communication Equipment & Technical Services
3,000166.SZ,"Shenwan Hongyuan Group CO., LTD",Financials,Capital Markets
4,000333.SZ,"Midea Group CO., LTD",Consumer Discretionary,Household Durables
...,...,...,...,...
99,601998.SS,China Citic Bank Corporation Limited,Financials,Banks
100,603259.SS,"WuXi AppTec Co., Ltd.",Health Care,Pharmaceuticals
101,603288.SS,Foshan Haitian Flavouring and Food Company Ltd.,Consumer Staples,"Food, Beverage & Tobacco"
102,603501.SS,"Will Semiconductor CO.,Ltd. Shanghai",Information Technology,Semiconductors
103,603993.SS,"China Molybdenum Co., Ltd.",Materials,Non-ferrous Metals

In [12]:
security_info1["industry"].unique()

array(['Banks', 'Real Estate',
       'Communication Equipment & Technical Services', 'Capital Markets',
       'Household Durables', 'Food, Beverage & Tobacco', 'Electronics',
       'Retailing', 'Media', 'Pharmaceuticals', 'Transportation',
       'Passenger Vehicles & Auto Parts', 'Consumer Services',
       'Agriculture, Animal Husbandry & Fishery', 'Electrical Equipment',
       'Medical Treatment', 'Steel', 'Utilities', 'Energy', 'Machinery',
       'Telecom Services', 'Chemicals', 'Non-metal Mining & Products',
       'Construction & Decoration', 'Insurance', 'Computers',
       'Non-ferrous Metals', 'Semiconductors'], dtype=object)

In [17]:
industry_mapping = ({'Banks': 0,
                     'Real Estate': 0,
                     'Communication Equipment & Technical Services': 1,
                     "Capital Markets":0,
                     "Household Durables":0,
                     "Food, Beverage & Tobacco":0,
                     "Electronics":0,
                     "Retailing":0,
                     "Media":1,
                     "Pharmaceuticals":1,
                     'Transportation':0,
                     'Passenger Vehicles & Auto Parts':0,
                     'Consumer Services':0,
                     'Agriculture, Animal Husbandry & Fishery':0, 
                     'Electrical Equipment':0,
                     'Medical Treatment':1, 
                     'Steel':0,
                     'Utilities':0,
                     'Energy':0, 
                     'Machinery':0,
                     'Telecom Services':0, 
                     'Chemicals':0,
                     'Non-metal Mining & Products':0,
                     'Construction & Decoration':0,
                     'Insurance':0, 
                     'Computers':0,
                     'Non-ferrous Metals':0,
                     'Semiconductors':0
                    }
                   )

In [18]:
security_info1["covid_positive"] = security_info1["industry"].map(industry_mapping)

In [20]:
security_info1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   security_code   104 non-null    object
 1   securityNameEn  104 non-null    object
 2   sector          104 non-null    object
 3   industry        104 non-null    object
 4   covid_positive  104 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.2+ KB